@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --gray-color: #101828;
    --border: #EAECF0;

    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    font-family: Inter, sans-serif;
    padding-bottom: 9.6rem;
}

h1 {
    color: var(--gray-color);
}

h3, .stat-number {
    color: var(--main-color);
}

p, .job-details {
    font-size: 1.6rem;
}

.banner-content, .banner-img, .job-category {
    margin-bottom: 6.4rem;
}

body, .metrics, .jobs, .testimonial {
    padding-bottom: 9.6rem;
}

/* NAV BAR */
.logo .logo-text {
    font-size: 1.8rem;
    color: #3A404E;

}
.navigation, .cadastrar{
    font-size: 1.6rem;
}

.page-nav a, .nav-buttons a, p, .job-details, .supporting-text {
    color: var(--text-color);
}



nav {
    padding: 1.8rem 8rem;
    display: flex;
    align-items: center;
    max-width: 120rem;
}

.logo, .navigation, .page-nav, .nav-buttons {
    display: inline-block;
}

.logo {
    display: inline-flex;
    align-items: center;
    margin-right: 11.9rem;
}
.logo img {
    margin-right: 0.8rem;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation a {
    text-decoration: none;
}

.page-nav a {
    margin-right: 3.2rem;
}


.nav-buttons button, #submit-btn {
    border: 1px solid var(--main-color);
    border-radius: 0.8rem;
    background-color: var(--main-color);
    color: white;
    padding: 1rem 1.8rem;
    cursor: pointer;
}
.nav-buttons a {
    margin-right: 1.2rem;
}

/* ABOUT SECTION */
.about {
    padding-block: 9.6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content h3, h1 {
    margin-bottom: 2.4rem;
}

.about-content h3 {
    font-size:1.6rem;
    line-height: 2.4rem;
}

.about-content h1 {
    font-size: 4.8rem;
    line-height: 6rem;
    font-weight: 600;
}

.about-content p {
    font-size: 2rem;
    max-width: 79.2rem;
}

/* METRICS SECTION */
.metrics {
    margin-inline: 8rem;
}

.stats {
    display: flex;
    gap: 3.2rem;
    /*flex-wrap: wrap;*/
}

.stat {
    width: 28rem;
}

.stat .stat-number {
    display: block;
    font-size: 6rem;
    font-weight: 600;
    line-height: 7.2rem;
    margin-bottom: 1.2rem;
}
.stat h3 {
    font-size: 1.8rem;
    color: var(--gray-color);
    font-weight: 500;
    line-height: 2.8rem;
    margin-bottom: 0.8rem;
}

/* JOBS SECTION */
.jobs {
    padding-block: 9.6rem;
}

/* BANNER CONTENT */
.banner-content {
    text-align: center;
}
.banner-content h3, h2 {
    margin-bottom: 2rem;
}
.banner-content h3 {
    background-color: rgba(142, 36, 36, 0.05);
    width: 12.5rem;
    margin-inline: auto;
    padding: 0.4rem 1.2rem;
    border-radius: 1.6rem;
}

.banner-img {
    max-width: 121.6rem;
    margin-inline: auto;
}
.banner-img img {
    display: block;
}

/* OPEN JOB VACANCIES */

.open-job-vacancies {
    max-width: 102.8rem;
    margin: 0 auto;
}

.job-category {
    max-width: 76.8rem;
    margin-inline: auto;
}

.job-category h3, h4 {
    color: var(--gray-color);
    font-weight: 500;
}

.job-category h3, form p {
    font-size: 2rem;
    line-height: 3rem;
}

.job-category h4 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 3.2rem;
}

.job-post {
    border: 0.1rem solid var(--border);
    border-radius: 1.6rem;
    margin-top: 3.2rem;
    margin-bottom: 2.4rem;
    padding: 2.4rem 2.4rem 2.8rem;
}

.job-details {
    line-height: 2.4rem;
    margin-right: 2.4rem;
}

/* TESTIMONIAL */
.container {
    padding-inline: 3.2rem;
}

.content {
    max-width: 121.6rem;
    margin: 0 auto;
    padding: 6.4rem;

    text-align: center;

    background: rgba(196, 25, 25, 0.03);
    border-radius: 1.6rem;
}

.quote-subheading {
    margin-bottom: 3.2rem;
}
.quote-subheading h3, .supporting-text {
    font-size: 1.4rem;
}
.quote-subheading h3, .avatar {
    margin-bottom: 1.6rem;
}

.quote, .attribution p {
    color: var(--gray-color);
}

.quote, .form-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 4.4rem;
    letter-spacing: -0.02em;
}

.supporting-text {
    margin-top: 0.4rem;
}

/* FORM */
form p {
    margin-top: 2rem;
}

form .heading-supporting-text, .email-capture, footer {
    text-align: center;
}


.email-capture {
    margin-top: 4rem;
    margin-bottom: 3.2rem;
}

input[type='email'] {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
    width: 33rem;

    padding: 1.2rem 1.6rem;
    margin-right: 1.6rem;

    border: 1px solid #D0D5DD;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 0.8rem;
}

#submit-btn {
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
}